
body {
  font-size: 15px;
  line-height: 20px;
}

p {
  font-size: 15px;
  line-height: 20px;
}

pre.output {
   background-color: white;
}

h3 {
   margin-top: 16px;
}

.footer {
   font-size: .9em;
   color: #666;
   border-top: 4px solid #eee;
   margin-bottom: 2em;
   margin-top: 2em;
   overflow: hidden;
}

.footer .about {
   float: left;
   margin-bottom: 2em;
}

.footer a {
   color: #8085C1;
   text-decoration: none;
}

.footer .subscribe {
   float: right;
   margin-bottom: 2em;
}

p > code {
   white-space: nowrap;
}

a > code {
  color: #4183c4;
}

figure {
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
}


