---
layout: layout
title: Home
summary: Code examples for the Rcpp package
---

  <gcse:search></gcse:search>

<div class="content">

  <p>
    Code examples for <a href="http://dirk.eddelbuettel.com/code/rcpp.html">Rcpp</a>, a package that provides seamless
    integration between R and C++. Code in the Rcpp Gallery is available under the <a href="{{ site.baseurl }}LICENSE.txt">MIT License</a>.
  	
  </p>



  <h3 class="section_header">Topics</h3>

  {% for tag in site.tags %}
    {% capture tag_name %}{{ tag | first }}{% endcapture %}
      {% if tag_name != 'featured' %}
  	    <a class="topic_link" href="{{ site.baseurl }}tags/{{ tag_name }}/">{{ tag_name }}</a>
        &nbsp;
  	  {% endif %}
  {% endfor %}
  
  
  <h3 class="section_header">Featured</h3>
  
  <ul class = "posts">
    {% for post in site.tags.featured limit:10 %}
       {% include post_item.html %}
    {% endfor %}
    {% if site.tags.featured.size > 10 %}
      <li><a href="{{ site.baseurl }}tags/featured/">More &raquo;</a></li>
    {% endif %}
  </ul>
 
</div>



