<!DOCTYPE HTML>

<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Rcpp" />
    <meta name="description" content="{{ page.summary }}"/>

    <link rel="shortcut icon" href="data:image/x-icon;," type="image/x-icon">

    <title>{{ page.title }}</title>

    <link href="http://eddelbuettel.github.io/tb/themes/spacelab/bootstrap.css" rel="stylesheet">
    <style type="text/css">
      body {
         padding-top: 60px;
         padding-bottom: 40px;
      }
    </style>
    <link href="http://eddelbuettel.github.io/tb/themes/spacelab/bootstrap-responsive.css" rel="stylesheet">

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Other custom styles -->
    <link rel="stylesheet" href="/css/styles.css" type="text/css" />

    <!-- Syntax highlighting CSS -->
    <link rel="stylesheet" href="/css/syntax.css" type="text/css" />

    <!-- jquery -->
    <script src="http://eddelbuettel.github.io/tb/jquery/jquery.js"></script>

    <!-- Atom feeds -->
    <link rel="alternate" type="application/atom+xml" title="Rcpp Gallery" href="http://feeds.feedburner.com/rcpp-gallery" />

    <!-- Google site verification -->
    <meta name="google-site-verification" content="js0YHwQux5nJCo2n1RFkyQy0ZPycXEdv8bx45raEMNM" />

    <!-- Google analytics -->
    <script type="text/javascript">
     var _gaq = _gaq || [];
     _gaq.push(['_setAccount', 'UA-37160590-1']);
     _gaq.push(['_trackPageview']);

     (function() {
       var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
       ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
       var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
     })();
    </script>


    <!-- Google custom search engine -->
    <script>
    (function() {
        var cx = '003241679836417614596:WMX-833312198';
        var gcse = document.createElement('script'); gcse.type = 'text/javascript'; gcse.async = true;
        gcse.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') +
            '//www.google.com/cse/cse.js?cx=' + cx;
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(gcse, s);
      })();
    </script>

    {% if page.mathjax == true %}
    <!-- MathJax Support -->
    <script type="text/x-mathjax-config">
      MathJax.Hub.Config({
      tex2jax: {
      inlineMath: [],
      displayMath: []
      }
      }) ;
    </script>
    <script
       type="text/javascript"
       src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"
       >
    </script>
    {% endif %}

      

  <!-- Used for LATEX equations -->
<script type="text/javascript" src="/js/jq_mathjax_parse.js"></script>
      
  </head>
  <body>

     <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
	  <div class="row">  <!-- local addition by DE 05 Jan 2012 -->
	    <div class="span10 offset1"> <!-- local addition by DE 05 Jan 2012 -->

	      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	      </a>
	      <a class="brand" href="http://www.rcpp.org">Rcpp</a>	    <!-- "brand" button as visual anchor-->
	      <div class="nav-collapse">
	        <ul class="nav">                                            <!-- default location at left-->
		  <!--<li class="active"><a href="/">Rcpp</a></li>-->       <!-- redundant with brand button?-->
		  <li class="dropdown">
		    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Projects<b class="caret"></b></a>
		    <ul class="dropdown-menu">
		      <li><a href="http://dirk.eddelbuettel.com/code/rcpp.html">Rcpp</a></li>
		      <li><a href="http://dirk.eddelbuettel.com/code/rinside.html">RInside</a></li>
		      <li><a href="http://dirk.eddelbuettel.com/code/rcpp.armadillo.html">RcppArmadillo</a></li>
		      <li><a href="http://dirk.eddelbuettel.com/code/rcpp.gsl.html">RcppGSL</a></li>
		      <li><a href="http://dirk.eddelbuettel.com/code/rcpp.examples.html">RcppExamples</a></li>
		      <li><a href="http://dirk.eddelbuettel.com/code/rcpp.smc.html">RcppSMC</a></li>
		    </ul>
		  </li>
		  <li class="active"><a href="/">Gallery</a></li>
		  <li><a href="http://www.rcpp.org/book/">Book</a></li>
		  <!-- <li><a href="http://www.rcpp.org/events/">Events</a></li> -->
		  <li class="dropdown">
		    <a href="#" class="dropdown-toggle" data-toggle="dropdown">More<b class="caret"></b></a>
		    <ul class="dropdown-menu">
		      <li><a href="http://dirk.eddelbuettel.com/code/rcpp.html">Dirk's Rcpp page</a></li>
		      <!-- <li><a href="http://romainfrancois.blog.free.fr/index.php?category/R-package/Rcpp">Romain's Rcpp page</a></li> -->
		      <li><a href="http://cran.r-project.org/package=Rcpp">Rcpp at CRAN</a></li>
                      <li><a href="https://github.com/RcppCore/Rcpp">Rcpp at GitHub</a></li>
		      <li><a href="http://r-forge.r-project.org/projects/rcpp/">Rcpp at R-Forge</a></li>
		      <li><a href="http://news.gmane.org/gmane.comp.lang.r.rcpp">Rcpp-Devel list at Gmane</a></li>
		      <li><a href="http://stackoverflow.com/questions/tagged/rcpp/">StackOverflow on Rcpp</a></li>
		    </ul>
		  </li>
		</ul>
	      </div><!--/.nav-collapse -->
	    </div> <!--span10-->
	  </div> <!--row-->
        </div>
      </div>
    </div>


    <div class="container">
      <div class="row">
        <div class="span10 offset1">

          {{ content }}

          <div class="footer">
            <div class="about">
              Rcpp Gallery &nbsp; &nbsp;
	      <a href="/about.html">About</a> &nbsp; &nbsp;
	      <a href="http://www.gnu.org/licenses/gpl-2.0.html">License (GPLv2)</a> &nbsp; &nbsp;
              <a href="https://github.com/RcppCore/rcpp-gallery/wiki/Contributing-to-the-Rcpp-Gallery">Contributing</a>
            </div>
            <div class="subscribe">
              Subscribe: &nbsp; <a href="http://feeds.feedburner.com/rcpp-gallery" rel="alternate" type="application/rss+xml"><img src="http://www.feedburner.com/fb/images/pub/feed-icon16x16.png" alt="" style="vertical-align:middle;border:0"/></a>&nbsp;<a href="http://feeds.feedburner.com/rcpp-gallery" rel="alternate" type="application/rss+xml">RSS</a>&nbsp; &nbsp;
	      <a href="http://feedburner.google.com/fb/a/mailverify?uri=rcpp-gallery&amp;loc=en_US">
	      <img src="/img/mail.png" alt="" style="vertical-align:middle;border:0"/></a>&nbsp; <a href="http://feedburner.google.com/fb/a/mailverify?uri=rcpp-gallery&amp;loc=en_US">Email</a>

            </div> <!-- class="subscribe"-->
	    &nbsp;
          </div> <!-- class="footer"-->
        </div> <!-- class="span"-->
      </div> <!-- class="row"-->
    </div> <!-- class="container"-->

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->

    <script src="http://eddelbuettel.github.io/tb/js/bootstrap-transition.js"></script>
    <script src="http://eddelbuettel.github.io/tb/js/bootstrap-alert.js"></script>
    <script src="http://eddelbuettel.github.io/tb/js/bootstrap-modal.js"></script>
    <script src="http://eddelbuettel.github.io/tb/js/bootstrap-dropdown.js"></script>
    <script src="http://eddelbuettel.github.io/tb/js/bootstrap-scrollspy.js"></script>
    <script src="http://eddelbuettel.github.io/tb/js/bootstrap-tab.js"></script>
    <script src="http://eddelbuettel.github.io/tb/js/bootstrap-tooltip.js"></script>
    <script src="http://eddelbuettel.github.io/tb/js/bootstrap-popover.js"></script>
    <script src="http://eddelbuettel.github.io/tb/js/bootstrap-button.js"></script>
    <script src="http://eddelbuettel.github.io/tb/js/bootstrap-collapse.js"></script>
    <script src="http://eddelbuettel.github.io/tb/js/bootstrap-carousel.js"></script>
    <script src="http://eddelbuettel.github.io/tb/js/bootstrap-typeahead.js"></script>


  </body>
</html>
