<!DOCTYPE HTML>

<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="author" content="Rccp" />
    
    
    <!-- Syntax highlighting CSS -->
   <link rel="stylesheet" href="{{ site.baseurl }}css/syntax.css" type="text/css" />

   <!-- Base CSS -->
   <link rel="stylesheet" href="{{ site.baseurl }}css/screen.css" type="text/css" media="screen, projection"/>
   
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}css/syntax.css">
    
    <!-- Atom feeds -->
    <link rel="alternate" type="application/atom+xml" title="Rcpp Gallery (All)" href="{{ site.baseurl }}feed.xml" />
    <link rel="alternate" type="application/atom+xml" title="Rcpp Gallery (Featured)" href="{{ site.baseurl }}featured.xml" />
    <title>{{ page.title }}</title>
  
    <!-- Google site verification -->
    <meta name="google-site-verification" content="js0YHwQux5nJCo2n1RFkyQy0ZPycXEdv8bx45raEMNM" />
  
  </head>
  <body>
  
    <div class="site">
      
      <div class="title">
        <a href="{{ site.baseurl }}">Rcpp Gallery</a>
        <a class="extra" href="{{ site.baseurl }}">home</a>
        <a class="extra" href="{{ site.baseurl }}about.html">about</a>
        <a class="extra" href="{{ site.baseurl }}feed.xml">feed</a>
      </div>
      
      {{ content }}
      
      <div class="footer">
        
      </div>
    </div>
  
   
  </body>
</html>
