<!DOCTYPE HTML>

<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="author" content="Rcpp" />
    <meta name="description" content="{{ page.summary }}"/>
    
    <title>{{ page.title }}</title>
    
    <!-- Syntax highlighting CSS -->
   <link rel="stylesheet" href="{{ site.baseurl }}css/syntax.css" type="text/css" />

   <!-- Base CSS -->
   <link rel="stylesheet" href="{{ site.baseurl }}css/screen.css" type="text/css" media="screen, projection"/>
   
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}css/syntax.css">
    
    <!-- Atom feeds -->
    <link rel="alternate" type="application/atom+xml" title="Rcpp Gallery (All)" href="{{ site.baseurl }}feed.xml" />
    <link rel="alternate" type="application/atom+xml" title="Rcpp Gallery (Featured)" href="{{ site.baseurl }}featured.xml" />
  
    <!-- Google site verification -->
    <meta name="google-site-verification" content="js0YHwQux5nJCo2n1RFkyQy0ZPycXEdv8bx45raEMNM" />
  
  <!-- Google analytics -->
  <script type="text/javascript">
     var _gaq = _gaq || [];
     _gaq.push(['_setAccount', 'UA-37160590-1']);
     _gaq.push(['_trackPageview']);
   
     (function() {
       var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
       ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
       var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
     })();
   </script>
  
  
    <!-- Google custom search engine -->
   <script>
     (function() {
       var cx = '003241679836417614596:WMX-833312198';
       var gcse = document.createElement('script'); gcse.type = 'text/javascript'; gcse.async = true;
       gcse.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') +
           '//www.google.com/cse/cse.js?cx=' + cx;
       var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(gcse, s);
     })();
   </script>
  
  </head>
  <body>
  
    <div class="site">
      
      <div>
      <div class="title">
        <a href="{{ site.baseurl }}">Rcpp Gallery</a>
        <a class="extra" href="{{ site.baseurl }}">home</a>
        <a class="extra" href="{{ site.baseurl }}about.html">about</a>
        <a class="extra" href="{{ site.baseurl }}feed.xml">feed</a>  		
      </div>
      
      {{ content }}
      
      <div class="footer">
        
      </div>
    </div>
  
   
  </body>
</html>
