---
layout: layout
---

<div class="content">
  <div id="post">
    <h2>{{ page.title }}</h2>
    <p class="postinfo">
       {{ page.author }} &mdash; {{ page.date | date: "%b %e, %Y" }} | 
       <a href="https://raw.github.com/jjallaire/rcpp-gallery/gh-pages/src/{{ page.src }}">source</a>
    </p>
      
    {{ content }}
     
  </div>
  
  <p class="tags"><strong>tags:</strong> 
    {% for tag in page.tags %}
      {% if tag != 'featured' %}
         <a href="{{ site.baseurl }}tags/{{ tag }}/">{{ tag }}</a>&nbsp;
      {% endif %}
    {% endfor %}
  </p>

  {% include share_post.html %}
  
  <!--googleoff: index-->
  <div id="related"> 
  <h3>Related Articles</h3>
    <ul class="posts">
      {% for post in site.related_posts limit:3 %}
        <li><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a> <span>&mdash; {{ post.author }}</span></li>
      {% endfor %}
    </ul>
  </div>
  <!--googleon: index-->
  
</div>



