---
layout: layout
---

<div class="content">
  <div id="post">
    <h2>{{ page.title }}</h2>
    <p class="postinfo">
       {{ page.author }} &mdash; {{ page.date | date: "%b %e, %Y" }} | 
       <a href="https://raw.github.com/jjallaire/rcpp-gallery/gh-pages/src/{{ page.src }}">source</a>
    </p>
      
    {{ content }}
     
  </div>
  
  <p class="tags"><strong>tags:</strong> 
    {% for tag in page.tags %}
      {% if tag != 'featured' %}
         <a href="{{ site.baseurl }}tags/{{ tag }}/">{{ tag }}</a>&nbsp;
      {% endif %}
    {% endfor %}
  </p>

  <br/>

  {% include share_post.html %}
  
</div>



